.container-projects{
    border-bottom-width: 1px;
    border-bottom-color: #171717; /* Codice colore di neutral-900 */
    padding-bottom: 1rem; /* 4 * 0.25rem (1rem) */
    
}
.container-projects h2{
    margin-top: 5rem;
    margin-bottom: 5rem;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 100;
    text-align: center;
}

.project-images {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center; /* Centra le immagini */
    gap: 10px; /* Distanza tra le immagini */
    margin-top: 10px; /* Spazio sopra le immagini */
  }
  
  .project-image {
    width: 80%;
    height: 80%;
    max-width: 200px; /* Regola la dimensione */
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  